
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.white{
  color: white;
}

/* .color-none{
 
} */

.btn{

    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

.btn-2{
   border: 1px solid white;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
   background-color:  transparent;
}

.hover:hover{
  color: black;
  background-color: #F95555;
}

/* nav style */
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.menu{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}

/* banner style */

.banner-container{
  position: relative;
  justify-items: center;
}

.banner-text{
  position: absolute;
  top: 30%;
  text-align: center;
  justify-items: center; 

}


.banner-text h6{
  color: #30B868;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  padding: 8px 12px;
  border-radius: 30px;
  margin-bottom: 16px;
}

.banner-text h1{
  color: #30B868;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 84px;
}
.banner-text p{
  color: white;
  font-size: 18px;
  margin-bottom: 32px;
}

.banner-btn{
  display: flex;
  gap: 16px;
}