
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.white{
  color: white;
}

.green{
  background-color: #30B868;
  color: white;

}

/* .color-none{
 
} */

.btn{

    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

.btn-2{
   border: 1px solid white;
    border-radius: 5px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
   background-color:  transparent;
}

.hover:hover{
  color: black;
  background-color: #F95555;
}

/* nav style */
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.menu{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    color: #001931;
}

/* banner style */

.banner-container{
  position: relative;
  justify-items: center;
}

.banner-text{
  position: absolute;
  top: 30%;
  text-align: center;
  justify-items: center; 

}


.banner-text h6{
  color: #30B868;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  padding: 8px 12px;
  border-radius: 30px;
  margin-bottom: 16px;
}

.banner-text h1{
  color: #30B868;
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 84px;
}
.banner-text p{
  color: white;
  font-size: 18px;
  margin-bottom: 32px;
}

.banner-btn{
  display: flex;
  gap: 16px;
}

/* box one style */

.box-one{
  justify-items: center;
  text-align: center;
}
.box-head{
  margin: 45px 0;
}

.box-head h1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
  
}
.box-head p{
  color:#627382 ;
  line-height: 16px;
  font-size: 16px;
}

.box-info{
  display: flex;
  gap: 24px;
}

.box-img{
  background-color: #F95555;
  padding: 25px;
  border-radius: 50%;
}

.box-card{
    padding: 30px;
    max-width: 322px;
    box-shadow: 0 8px 40px 0 #00000010;
}
.box-card h1{
  font-size: 22px;
  font-weight: 600;
  padding: 16px 18px;
}

.box-card p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;

}

/* solution style */
.solution-container{
  display: flex;
  margin: 120px;
  justify-content:center;
  align-items: center;
  gap: 40px;

  /* padding: 120px; */
}


.solution-img{
  max-width: 600px;

}

.solution-info h6{
  color: #30B868;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.solution-info h1{
  font-size: 48px;
  font-weight: bold;
  color: #001931;
   margin-bottom: 16px;
}

.solution-info p{
    font-size: 16px;
 
  color: #627382;
   margin-bottom: 40px;
}

.solution-list{
  list-style-type: none;
  color: #001931;
  
}
.solution-list li{
  margin-bottom: 10px;
}





